.contact-container{
   max-width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   color: white;
   align-items: center;
}

.contact-right{
    display: flex;
    flex: 50%;
    flex-direction: column;
    align-items: center;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex: 50%;
}

.contact-form-single-input{
    padding-bottom: 2rem;
}

.contact-form-send{
    text-align: center;
}

.contact-form-single-input-box{
    height: 5rem;
}

.email-send{
    text-decoration: none;
    color:#ed1c24;
}

.after-submit{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.after-submit-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 800px){
    .contact-container{
        flex-direction: column;
    }

    .contact-right{
        justify-content: center;
        padding: 0rem 2rem 0rem 2rem;
    }

    .after-submit{
        align-items: center;
    }

    .after-submit-links{
        align-items: center;
    }

    .after-submit-message{
        text-align: center;
    }
}