.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
    
    color: #f2f5ea;
}

a{
    text-decoration: none;
}

