.register-form-container{
    color: #f2f5ea;
    justify-content: center;
    display: flex;
    padding-top: 5rem;
}

.register-info{
    padding: 3rem;
    border-inline-start: .2rem solid;
    border-block-start: .2rem solid;
    border-image-source:
    radial-gradient(ellipse at top left, #ed1c24,transparent 60%);
    border-image-slice: 1;
    border-color: #ed1c24;

}

.register-or-login{
    text-decoration: none;
    color:#ed1c24;
}

.register-info form > *{
    padding: 1rem;
}

.register-submit{
    text-align: center;
}

input{
    background-color: #f2f5ea;
    height: 2rem;
    font-size: large;
    font-weight: bolder;
    color: #ed1c24;
}

.after-submit{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.after-submit-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 800px) {
    .register-info form > *{
        padding: .5rem;
    }
}